page-soluciones-bodega {

    .tituloHeader{
        text-align: center !important;
        color:#FFFFFF !important;
    }

    ion-content{
        background:#FEF8F8 !important;
    }

    .listaView{
        background: transparent !important;
        color:#FF5722 !important;
    }
}
