page-modal-generandorecepcion {
    .fondo{
        background: #333333 !important;
        opacity: 0.9 !important;
    }

    img{
        position: absolute !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
