page-paso3-validacionlineas {
    ion-content{
        background-color: #FEF8F8 !important;
    }

    ion-title{
        font-size: 16px !important;
        text-align: center !important;
    }

    ion-row {
        ion-col {
            &:first-of-type {
                flex: 0 0 0 0;
                padding-right: 0px !important;
                float: right !important;
            }
            font-size: 10px !important;
            text-align: center !important;
            color:#FFFFFF !important;
        }
    }

    .circuloProgress{
        width: 4.5% !important;
        padding: 0px !important;
        vertical-align: middle !important;
        padding-right: 0px !important;
    }

    .lineProgress{
        width: 15% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        vertical-align: middle !important;
    }

    .gridColumnas{
        background-color: #FFFFFF !important;
        ion-col{
            color: #95989A !important;
            font-size: 9px !important;
            font-weight: bold !important;
        }
    }

    .gridInfo{
        ion-col{
            color: #95989A !important;
            font-size: 14px !important;
            font-weight: bold !important;
            padding: 0px !important;
            margin: 0px !important;
        }
        background-color: #FEF8F8 !important;
    }

    .rowsToggle{
        border-radius: 5% !important;
        width: 90% !important;
        margin: 0 auto !important;
        height: 8vh !important;
        background-color: #FFFFFF !important;
        ion-label{
            float: left !important;
            color:#95989A !important;
            font-size: 12px !important;
            text-align: left !important;
            padding: 4% !important;
            font-weight: regular !important;
        }

        ion-toggle{
            float: right !important;
            padding: 4% !important;
        }
    }

    .rowsCajas{
        width: 100% !important;
        padding-left: 2% !important;
        padding-right: 2% !important;
        ion-card-header{
            background-color: #FF8A65 !important;
            font-size: 15px !important;
            color:#FFFFFF !important;
            width: 20% !important;
            float: right !important;
            text-align: center !important;
            padding: 0px !important;
            border-top-left-radius: 5% !important;
            border-bottom-left-radius: 5% !important;
            height: 3vh !important;
        }
    }

    .cuadros{
        padding-left:5% !important;
        padding-right: 5% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        .labelA{
            font-size: 40px !important;
            font-weight: regular !important;
        }

        .labelB{
            font-weight: regular !important;
            font-size: 12px !important;
        }
    }

    .labelIcon{
        ion-col{
            ion-icon{
                font-size: 26px !important;
            }

            ion-label{
                color:#CCCCCC !important;
                text-align: center !important;
                font-size: 12px !important;
            }
        }
    }   

    .borderIcon{
        border-left:1px solid #FF8A65 !important;
        border-right:1px solid #FF8A65 !important;
    }

    .fondoSeleccionado{
        background-color: #FBE9E7 !important;
    }

    .tachado{
        text-decoration:line-through;
    }

    .desabilitar{
        background: #95989A !important;
    }

    .iconosGrises{
        color:#95989A !important;
    }
}

