page-modal-qr {
    ion-content{
        background-color: #FEF8F8 !important;
    }

    ion-list, ion-item{
        background: #1A1A1A !important;
    }

    .iconClose{
        font-size: 50px !important;
    }

    .cardA{
        background-color: #1A1A1A !important;
    }

    .tituloCardB{
        font-size: 14px !important;
        font-weight: bold !important;
        color:#FF8A65 !important;
        text-align: center !important;
    }

    .textoCardB{
        color:#FF8A65 !important;
        text-align: center !important;
    }

    .cuadro{
        border:5px solid #FDCD13 !important;
        padding: 4% !important;
    }
}
